#Ignore "www" folder inside platforms
platforms/android/assets/www/
platforms/ios/www/

#Ignore android build files
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/bin
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/.classpath
platforms/android/CordovaLib/.classpath
platforms/android/CordovaLib/gen/org/apache/cordova/BuildConfig.java
platforms/android/gen/com/myeltapp/BuildConfig.java
platforms/android/gen/com/myeltapp/R.java

# Ignore iOS system files
.DS_Store
.fetch.json