<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myeltapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyELT</name>
    <description>Sample MyELT application</description>
    <author email="manav.manocha@comprotechnologies.com">Compro Technologies Private Limited</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
